<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>80w Regular Glue Gun Hot Melt Adhesive Electric Diy Bond Metal Plastic Wood</title>
  <meta name="description" content="{{itemtitle}}Ideal for light-duty work, this professional glue gun from Trueshopping provides a highly effective way in which to bond a variety of materials including wood, metal, fabric, glass, ceramics, plastic and card. Lightweight and compact, this durable glue gun features a slim-grip design for ease of use and comfort.FeaturesProfessional glue gun 80WSuitable glue size: 11~11.5mm diameterSim grip designLight weight and compactLong trigger design for easier feedingProtected and ...">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="http://dazzlr.net/resources/skeleton/css/normalize.css">
  <link rel="stylesheet" href="http://dazzlr.net/resources/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="http://dazzlr.net/resources/skeleton/css/custom.css">



  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "46dba9f7-b42d-4f17-bad7-f48c98773b3a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">
      <h2 class="title">80w Regular Glue Gun Hot Melt Adhesive Electric Diy Bond Metal Plastic Wood</h2>
      <img alt="PHOTO MISSING" src="http://www.trueshopping.co.uk/images/products/88730_image.jpg">
      <br>
      <p>{{itemtitle}}Ideal for light-duty work, this professional glue gun from Trueshopping provides a highly effective way in which to bond a variety of materials including wood, metal, fabric, glass, ceramics, plastic and card. Lightweight and compact, this durable glue gun features a slim-grip design for ease of use and comfort.FeaturesProfessional glue gun 80WSuitable glue size: 11~11.5mm diameterSim grip designLight weight and compactLong trigger design for easier feedingProtected and ...</p>
      <p><a class="button button-primary" href="http://dazzlr.net/bb/products.php?safe=123&dsid=1084&did=81923344&kw=80w Regular Glue Gun Hot Melt Adhesive Electric Diy Bond Metal Plastic Wood&mid=500">Visit Store</a>  <a class="button button-primary" href="http://dazzlr.net/bb/products.php?safe=123&dsid=1084&did=81923344&kw=80w Regular Glue Gun Hot Melt Adhesive Electric Diy Bond Metal Plastic Wood&mid=500">Buy Item</a></p>
      <br>
      <p>
       <span class='st_facebook_large' displayText='Facebook'></span>
       <span class='st_twitter_large' displayText='Tweet'></span>
       <span class='st_linkedin_large' displayText='LinkedIn'></span>
       <span class='st_pinterest_large' displayText='Pinterest'></span>
      </p>
    </section>
  </div>

<br><br><hr>

<center>
  <div typeof="v:Recipe" xmlns:v="http://rdf.data-vocabulary.org/#">
    <span rel="v:photo" >
      <img alt="80w Regular Glue Gun Hot Melt Adhesive Electric Diy Bond Metal Plastic Wood Photo" src="http://www.trueshopping.co.uk/images/products/88730_image.jpg" width="70">
    </span>
    <br>
    <span property="v:name">
      80w Regular Glue Gun Hot Melt Adhesive Electric Diy Bond Metal Plastic Wood
    </span>
    has been rated
    <span rel="v:Review">
      <span typeof="v:Review-aggregate">
        <span rel="v:rating">
          <span typeof="v:Rating">
            <span property="v:average">
              4.8
            </span>
            stars out of
            <span property="v:count">
              92
            </span>
            customer reviews on this site.
          </span>
        </span>
      </span>
    </span>
</div>
</center>

<br><br>
<center><a href="/sitemap.xml">Sitemap</a></center>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>